<ion-header [translucent]="true">
  <ion-toolbar color="secondary" class="alinear">
    <ion-buttons slot="start">
      <ion-back-button class="titulo" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <br><ion-title class="titulo">Asistencia Alumno</ion-title><br>
  </ion-toolbar>
</ion-header >

<ion-content>

  <div *ngIf="listadoasistencia.length > 0">
    <div *ngFor="let aux1 of listadoasistencia" >
      <ion-list lines="full">
        <ion-item>
          <ion-label>{{aux1.nombremateria}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list lines="inset">
        <ion-item>
          <ion-label>Asistió: {{aux1.asistencia}}</ion-label>
        </ion-item>
       <br>
      </ion-list>
    </div>
  </div>

</ion-content>

<!-- Footer -->
<ion-footer >
  <ion-button expand="full" [routerLink]="['/home']" color="danger" >
    <ion-icon slot="start" name="exit"></ion-icon>
    Salir Cuenta
   </ion-button>
</ion-footer>