<ion-header [translucent]="true">
  <ion-toolbar color="Secondary" class="alinear">
    <ion-buttons slot="start">
      <ion-back-button class="titulo" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <br><ion-title class="titulo">Sucursales</ion-title><br>
  </ion-toolbar>
</ion-header >

<ion-content>
  <div *ngIf="listarsucur.length > 0">
    <div *ngFor="let aux of listarsucur" [routerLink]="['/comentarios', aux.id]">
      <ion-row>
        <ion-col size="5" >{{aux.nombre}}</ion-col>
        <ion-col size="6" >{{aux.direccion}}</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer >
  <ion-button expand="full" [routerLink]="['/home']" color="danger" >
    <ion-icon slot="start" name="exit"></ion-icon>
    Salir 
   </ion-button>
</ion-footer>